
:root {
    --body : white;
    
    --box-shadow-1 : 0 0 5px 1px black;

    --padding-1 : min(1vw,6px) min(4vw,30px);

    --border-radius-1 : 0.2rem;

    --width-form : min(calc(100vw - 2rem),400px);

    --bg-Blue : rgb(96, 147, 255);

    --txt-clr-White : rgb(255, 255, 255);

    --ff-Franklin : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    --fs-1 : 0.8rem;

}

:root:has(body.night) {
    --body : black;
}

body.guides {

    picture {
        display: grid;
        gap: 2rem;
        justify-content: start;
    
        padding: 2rem;
    
            figure {
                box-shadow: var(--box-shadow-1);
                display: flex;
    
                figcaption {
                    align-self: center;
                    box-shadow: var(--box-shadow-1);
                    margin: 2rem;
                    padding: 2rem;
                    height: calc(100% - 4rem);
                    min-width: calc(20% - 4rem);
    
                    ul {
                        list-style-type: disc;
                        display: grid;
                        gap: 0.2rem;
                        li {
    
                            a {
                                padding: 0.2rem 0.4rem;
                                color: greenyellow;
                                background-color: black;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
    }
    
    #image-carousel {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(128, 128, 128,0.6);
        z-index: -1;
        opacity: 0;
        transform: translateX(10%);
        transition: 0.2s;
    
        &.visible {
            z-index: 1;
            opacity: 1;
            transform: translateX(0);
        }
    
        .container {
            position: absolute;
            top: 50%; left: 50%; transform: translate(-50%,-50%);
            width: 70%;
            height: 98%;
    
            button {
                position: absolute;
                top: 50%; left:-10%; transform: translateY(-50%);
                width: 3vw;
                aspect-ratio: 1;
                border-radius: 50%;
            }
    
            button:first-of-type {
                top: 0; transform: translateY(0);
                left: unset;
                right: -10%;
            }
    
            button:last-of-type {
                right: -10%;
                left: unset;
            }
    
            .wrapper {
                width: 100%;
                height: 100%;
                background: white;
    
                picture {
                    position: relative;
                    
                    width: 100%;
                    height: 100%;
    
                    display: grid;
                    place-items: center;
                    isolation: isolate;
    
                    figure {
                        position: absolute;
                        opacity: 0;
                        transition: 0.2s;
    
                        &.visible {
                            opacity: 1;
                        }

                        img {
                            max-height: 95vh;
                        }
                    }
                }
            }
    
    
        }
    }

    #toBack {
        position: fixed;
        top: 0; right: 0;
        padding: 1rem;
        background-color: rgb(253, 31, 253);
        color: white;
    }
}

