
:root {
    --body : white;
    
    --box-shadow-1 : 0 0 5px 1px black;

    --padding-1 : min(1vw,6px) min(4vw,30px);

    --border-radius-1 : 0.2rem;

    --width-form : min(calc(100vw - 2rem),400px);

    --bg-Blue : rgb(96, 147, 255);

    --txt-clr-White : rgb(255, 255, 255);

    --ff-Franklin : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    --fs-1 : 0.8rem;

}

:root:has(body.night) {
    --body : black;
}

picture#semantic {
    display: grid;
    gap: 2rem;
    justify-content: start;

    padding: 2rem;

        figure {
            box-shadow: var(--box-shadow-1);
            display: flex;

            figcaption {
                align-self: center;
                box-shadow: var(--box-shadow-1);
                margin: 2rem;
                padding: 2rem;
                height: calc(100% - 4rem);
                min-width: calc(30% - 4rem);

                ul {
                    list-style-type: disc;
                    display: grid;
                    gap: 0.2rem;
                    li {

                        a {
                            padding: 0.2rem 0.4rem;
                            color: greenyellow;
                            background-color: black;
                        }
                    }
                }
            }
        }
}

