
:root {
    --body : white;
    
    --box-shadow-1 : 0 0 5px 1px black;

    --padding-1 : min(1vw,6px) min(4vw,30px);

    --border-radius-1 : 0.2rem;

    --width-form : min(calc(100vw - 2rem),400px);

    --bg-Blue : rgb(96, 147, 255);

    --txt-clr-White : rgb(255, 255, 255);

    --ff-Franklin : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    --fs-1 : 0.8rem;

}

:root:has(body.night) {
    --body : black;
}

body#home {

    .guide-links {
        position: fixed;
        bottom: 0; right: 0;
        padding: 1rem;
        background-color: rgb(253, 31, 253);
        cursor: pointer;

        nav {

            ul {

                li {

                    a {
                        color: white;
                        transition: 0.2s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

